body {
  background-color: black;
  color: whitesmoke;
}
#App-header {
  display: flex;
  font-size: 16pt;
  justify-items: space-around;
}

nav {
  display: flex;
  flex: inline;
  justify-content: space-around;
  background-color: rgb(235, 122, 30);
}
ul{
  justify-items: space-around;
}

.Link {
  color: whitesmoke;
  font-size: 16pt;
}

.Link:visited {
  color: rgb(47, 0, 255);
  
}

.Link:hover {
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: #fffc66 0 0 15px, #fffc66 0 0 15px, #fffc66 0 0 15px, #fffc66 0 0 15px, #fffc66 0 0 15px, #fffc66 0 0 15px, #fffc66 0 0 15px;
  transition: all 0.5s ease-in;
}

.Link:active {
  color: whitesmoke;
}

.searchBar {
  margin: 13pt;
}

.pageTitle {
  font-size: 24pt;
  text-align: center;
}

.render {
  color: aliceblue;
}

.footer {
  font-size: 9pt;
  text-align: center;
  justify-items: space-between;
  word-spacing: 5px;
  letter-spacing: 2px;
}