.container {
    display: inline-flex;
    flex-direction: row;
}

.child {
    border: white 2px solid;
    width: fit-content;
}

.childInfo {
    display: flex;
    flex-direction: column;
}

.select-button, .delete-button {
    background-color: rgb(235, 203, 24);
    border-radius: .25rem;
    border: double 2px rgb(255, 255, 255);
    color: black;
    font-size: 12pt;
    padding: 8px;
    width: 100px;
    cursor: pointer;
    margin: 3px;
}

.newForm, .editForm {
    border: double 10px rgb(95, 2, 2);
    display: grid;
    grid: center;
    justify-items: center;
    padding-bottom: 20px;
    margin: 10px;
    min-width: fit-content;
    width: 500px;
    min-height: fit-content;
}

.button {
    background-color: bisque;
    border-radius: .25rem;
    border: solid 2px red;
    font-size: 12pt;
    padding: 8px;
    margin-top: 8px;
}